<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477429470380-qe72sb5l2c8oftf95rgkp13c5fo9asuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477429470380-qe72sb5l2c8oftf95rgkp13c5fo9asuj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>477429470380-o7lejoodj69mhdrvui4stg5s0j5mkr28.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQwp8VpfwcsAdfy6I_NsLG5SoorxmTUO8</string>
	<key>GCM_SENDER_ID</key>
	<string>477429470380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.the-cocktail-book</string>
	<key>PROJECT_ID</key>
	<string>the-cocktail-book</string>
	<key>STORAGE_BUCKET</key>
	<string>the-cocktail-book.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477429470380:ios:fd026dde7f8d80add03b09</string>
	<key>DATABASE_URL</key>
	<string>https://the-cocktail-book.firebaseio.com</string>
</dict>
</plist>